<a href="https://colab.research.google.com/github/tithinosrat/ai-lab/blob/main/labtask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list = ["a", "b", "c", "d", "e", "f", "g"]

print(list)
print(len(list))
print(type(list))
print(list[1])
print(list[-1])
print(list[2:4])
print(list[:3])
print(list[4:])

['a', 'b', 'c', 'd', 'e', 'f', 'g']
7
<class 'list'>
b
g
['c', 'd']
['a', 'b', 'c']
['e', 'f', 'g']

In [2]:
lst = ["m", "n", "0"]
lst[1] = "p"
print(lst)

lst.insert(2, "q")
print(lst)

lst.append("r")
print(lst)

lst.remove("q")
print(lst)

lst.sort()
print(lst)

list1 = lst.copy()
print(list1)

list2 = ["x", "y", "z"]
list3 = [10, 20, 30]

list4 = list2 + list3
print(list4)

['m', 'p', '0']
['m', 'p', 'q', '0']
['m', 'p', 'q', '0', 'r']
['m', 'p', '0', 'r']
['0', 'm', 'p', 'r']
['0', 'm', 'p', 'r']
['x', 'y', 'z', 10, 20, 30]

In [3]:
x = (1, 2, 3, 4, 5, 6, 7, 8)
y = slice(2, 4)
print(x[y])

y = slice(1, 2, 5)
print(x[y])

(3, 4)
(2,)

In [5]:
f= open("xyz.txt")
f = open("xyz.txt", "r")
print(f.read())

2123
sadoi
233

In [6]:
f = open("xyz.txt", "a")
f.write("write")
f.close()


f = open("xyz.txt", "r")
print(f.read())

2123
sadoi
233
4sad
sawrite